@import "tailwindcss";

@theme {
  --animate-liquid-slow: liquid 25s infinite;
  --animate-liquid-medium: liquid 18s infinite reverse;
  --animate-liquid-fast: liquid 12s infinite;



  @keyframes liquid {
    0% {
      transform: translate(0, 0) scale(1);
    }
    33% {
      transform: translate(10vw, 15vh) scale(1.2);
    }
    66% {
      transform: translate(-5vw, 10vh) scale(0.8);
    }
    100% {
      transform: translate(0, 0) scale(1);
    }
  }
}

/* Ensure the main content doesn't have a background */
body {
  background-color: #93d6f1;
  margin: 0;
}
/* Enable scrolling */
html {
  scroll-behavior: smooth;
}

