@import "tailwindcss";

@theme {

  --font-sans: var(--font-inter);
  --font-display: var(--font-manrope);

  --animate-liquid-slow: liquid 25s infinite;
  --animate-liquid-medium: liquid 18s infinite reverse;
  --animate-liquid-fast: liquid 12s infinite;



  @keyframes liquid {
    0% {
      transform: translate(0, 0) scale(1);
    }
    33% {
      transform: translate(10vw, 15vh) scale(1.2);
    }
    66% {
      transform: translate(-5vw, 10vh) scale(0.8);
    }
    100% {
      transform: translate(0, 0) scale(1);
    }
  }
}

/* Ensure the main content doesn't have a background */
body {
  background-color: #93d6f1;
  margin: 0;
  font-family: var(--font-inter), system-ui, sans-serif !important;
}
/* Enable scrolling */
html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, .font-display {
  font-family: var(--font-manrope), system-ui, sans-serif !important;
  font-weight: 800; /* Makes Manrope look better */
}

