@import "tailwindcss";

:root {
  --background: #f8fafc; 
  --foreground: #1e293b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Enable scrolling */
html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: linear-gradient(
    180deg, 
    #ffa630 0%,    /* Top*/
    #ebebeb 45%,   /* Middle*/
    #00a7e1 80%,   /* Lower */
    #0474ba 100%   /* Bottom*/
  );
  background-attachment: scroll;
  min-height: 200vh;
}
